@model EmpeekTst.Models.DirectoryContent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Common.css" />
    <title>Index</title>
</head>
<body>
<div>
    <p>Was chosen: @Model.DirPath</p>
</div>
</body>
</html>
